# Configuration file

general {

    main {
        # Generate every new chest with a random lock
        B:generate_locks=true

        # Length of a new lock
        I:lock_length=7

        # Chance of a lock pick to not break
        D:lock_pick_strength=0.6499999761581421

        # Blocks that can be locked.
        # Syntax is the mod domain followed by the block's registry name
        S:lockable_blocks <
            minecraft:chest
            minecraft:trapped_chest
            minecraft:ender_chest
            minecraft:furnace
            minecraft:dispenser
            minecraft:dropper
            minecraft:hopper
            minecraft:wooden_door
            minecraft:iron_door
            minecraft:spruce_door
            minecraft:birch_door
            minecraft:jungle_door
            minecraft:acacia_door
            minecraft:dark_oak_door
            minecraft:trapdoor
            minecraft:iron_trapdoor
            minecraft:fence_gate
            minecraft:spruce_fence_gate
            minecraft:birch_fence_gate
            minecraft:jungle_fence_gate
            minecraft:acacia_fence_gate
            minecraft:dark_oak_fence_gate
            minecraft:ender_chest
            minecraft:white_shulker_box
            minecraft:orange_shulker_box
            minecraft:magenta_shulker_box
            minecraft:light_blue_shulker_box
            minecraft:yellow_shulker_box
            minecraft:lime_shulker_box
            minecraft:pink_shulker_box
            minecraft:gray_shulker_box
            minecraft:silver_shulker_box
            minecraft:cyan_shulker_box
            minecraft:purple_shulker_box
            minecraft:blue_shulker_box
            minecraft:brown_shulker_box
            minecraft:green_shulker_box
            minecraft:red_shulker_box
            minecraft:black_shulker_box
            quark:custom_chest
            quark:custom_chest_trap
            engineersdoors:fencegate_aluminium
            engineersdoors:fencegate_steel
            engineersdoors:fencegate_treated
            quark:nether_brick_fence_gate
            customnpcs:npcsscripteddoortool
            engineersdoors:door_concrete
            engineersdoors:door_concrete_ornate
            engineersdoors:door_concrete_reinforced
            engineersdoors:door_steel
            engineersdoors:door_steel_ornate
            engineersdoors:door_steel_reinforced
            engineersdoors:door_treated
            engineersdoors:door_treated_ornate
            engineersdoors:door_treated_reinforced
            immersiveengineering:wooden_device0
            cyberware:blueprint_archive
            cyberware:surgery
            cyberware:surgery_chamber
            cyberware:engineering_table
            cyberware:scanner
            engineersdecor:small_lab_furnace
            chisel:auto_chisel
            customnpcs:npcscripteddoortool
            architecturecraft:sawbench
            immersiveengineering:metal_device1
            customnpcs:npccarpentybench
            brewcraft:distiller
            immersiveengineering:toolbox
            engineersdecor:factory_dropper
            engineersdecor:factory_hopper
            engineersdecor:small_electrical_furnace
            minecraft:lever
            engineersdecor:factory_placer
            engineersdecor:small_waste_incinerator
            quark:birch_trapdoor
            quark:spruce_trapdoor
            quark:dark_oak_trapdoor
            quark:jungle_trapdoor
            quark:acacia_trapdoor
            engineersdoors:trapdoor_steel
            engineersdoors:trapdoor_treated
         >

        # Maximum allowed volume of a single lock
        I:lockable_volume=4

        # Open locks can be removed with an empty hand while sneaking
        B:remove_locks=true

        # Locked blocks cannot be destroyed in survival mode
        B:unbreakable_locks=true
    }

    client {
        # Enable the client user interface when placing a lock
        B:enable_cui=true
    }

}


